.dropdown-container > div.dropdown-display,
.dropdown-container > select.dropdown-display {
  min-width: 175px;
}

form {
  .dropdown-container > div.dropdown-display,
  .dropdown-container > select.dropdown-display,
  .dropdown-container > div.dropdown-display:hover,
  .dropdown-container > select.dropdown-display:hover,
  .dropdown-container > div.dropdown-display:focus,
  .dropdown-container > select.dropdown-display:focus {
    border: var(--border-size-none);
    border-bottom: var(--border-size-s) solid var(--color-neutral-6);
    border-radius: var(--border-radius-none);
  }
}
