.dropdown-container > div.dropdown-display,
.dropdown-container > select.dropdown-display {
  min-width: 175px;
}

form {
  .dropdown-container > div.dropdown-display,
  .dropdown-container > select.dropdown-display,
  .dropdown-container > div.dropdown-display:hover,
  .dropdown-container > select.dropdown-display:hover,
  .dropdown-container > div.dropdown-display:focus,
  .dropdown-container > select.dropdown-display:focus {
    border: var(--border-size-none);
    border-bottom: var(--border-size-s) solid var(--color-neutral-6);
    border-radius: var(--border-radius-none);
  }
}

.vscomp-wrapper.multiple .vscomp-option.selected .checkbox-icon,
.vscomp-wrapper .checkbox-icon.checked {
  background-color: var(--color-info);
  border-color: var(--color-info);
}

.vscomp-ele.pop-comp-active .vscomp-toggle-button {
  border-color: var(--color-info);
}

.osui-dropdown-search.vscomp-ele[disabled] .vscomp-toggle-button,
.osui-dropdown-tags.vscomp-ele[disabled] .vscomp-toggle-button {
  background-color: var(--color-neutral-2);
  border: var(--border-size-none);
  color: var(--color-neutral-6);
  pointer-events: none;
}

.vscomp-wrapper.show-value-as-tags .vscomp-value {
  .tablet &,
  .phone & {
    flex-wrap: nowrap;
    // flex-direction: row;
    // overflow: auto;
    // width: 250px;
  }
}

.vscomp-toggle-button {
  border: var(--border-size-none);
}
