[data-upload] [data-icon] {
  color: var(--color-info);
  font-size: var(--font-size-h6);
}

.upload-link {
  border: var(--border-none);
  margin-bottom: var(--space-none) !important;
  padding: var(--space-none);
}
