.layout-sidebar {
  --searchbar-height: 40px;

  background: var(--color-neutral-0);
  display: flex;
  align-items: stretch;
  height: calc(100vh - var(--menu-height) - var(--searchbar-height));
  overflow: hidden;
  // margin-top: var(--menu-height);

  &__sidebar {
    display: flex;
    flex-direction: column;
    min-width: 272px;
  }

  &__content {
    background: var(--color-neutral-0);
    flex-grow: 1;
  }
}
