.layout-top-menu {
  &__menu {
    background: var(--color-neutral-0);
    height: var(--header-size);
    left: 0;
    position: fixed;
    padding: var(--space-s) var(--space-xl);
    top: 0;
    width: 100%;
    z-index: 10;
  }

  &__content {
    padding-top: var(--header-size);
  }
}
