.layout-top-menu {
  &__menu {
    background: var(--color-neutral-0);
    height: var(--header-size);
    left: 0;
    padding: var(--space-s) var(--space-xl);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;

    .phone & {
      box-shadow: var(--shadow-m);
      height: var(--header-size);
      left: 0;
      padding: var(--space-s) var(--space-xl);
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 10;
    }
  }

  &__content {
    padding: var(--header-size) var(--space-none);
  }

  &__footer {
    bottom: 0;
    height: var(--bottom-nav-size);
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 10;
  }
}
