.layout-sidebar {
  display: flex;
  height: calc(100vh - var(--header-size));

  &__sidebar {
    background: var(--color-info);
    display: flex;
    flex-direction: column;
    min-width: 15vw;
  }

  &__content {
    flex-grow: 1;
  }
}
