.layout-bottom-nav {
  &__topbar {
    box-shadow: var(--shadow-m);
    height: var(--header-size);
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
  }

  &__content {
    padding: var(--header-size) var(--space-none);
  }

  &__menu {
    background: var(--color-neutral-0);
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
    height: var(--bottom-nav-size);
    left: 0;
    position: fixed;
    // padding: var(--space-base);
    bottom: 0;
    width: 100%;
    z-index: 10;
  }
}
