.btn {
  white-space: nowrap;

  .icon {
    font-size: var(--font-size-s);
    font-weight: var(--font-light);
    margin-right: var(--space-s);
  }

  &-primary {
    background: var(--color-info);
    border: var(--border-size-s) solid var(--color-info);
    color: var(--color-neutral-0);
  }

  &-secondary {
    border: var(--border-size-s) solid var(--color-info);
    color: var(--color-info);
  }

  &-border {
    border: var(--border-size-s) solid var(--color-neutral-8);
    color: var(--color-neutral-8);
  }
}

.button-group {
  &-item {
    border-color: var(--color-info);
    color: var(--color-info);

    &.button-group-selected-item {
      background: var(--color-info);
      color: var(--color-neutral-0);
    }
  }
}
