.blank-slate {
  &__icon,
  &__title {
    color: var(--color-neutral-7);
    text-align: center;
  }

  &__icon {
    margin-bottom: var(--space-base);

    i {
      font-size: var(--font-size-h1);
    }
  }

  &__title {
    font-size: var(--font-size-h4);
  }
}
