.bottom-menu {
  padding: var(--space-base);
  background: var(--color-neutral-0);
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
  height: var(--bottom-nav-size);
  left: 0;
  position: fixed;
  // padding: var(--space-base);
  bottom: 0;
  width: 100%;
  z-index: 10;

  &__nav {
    display: flex;
    justify-content: space-between;

    a {
      align-items: center;
      color: var(--neutral-neutral-8);
      display: flex;
      flex-direction: column;
      font-size: var(--font-size-s);
      font-weight: var(--font-regular);
      white-space: nowrap;

      &.active {
        color: var(--color-info);
      }
    }
  }
}
