.contact-form {
  display: grid;
  gap: var(--space-base);
  grid-template-columns: repeat(4, 1fr);
  width: 100%;

  &__row {
    display: flex;
    flex-direction: column;
  }

  .tablet & {
    grid-template-columns: repeat(2, 1fr);
  }

  .phone & {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
}
