.dashboard-card {
  align-items: center;
  background-color: var(--color-neutral-0);
  border: var(--border-size-s) solid var(--color-neutral-4);
  border-radius: var(--border-radius-medium);
  box-shadow: var(--shadow-m);
  display: flex;
  gap: var(--space-m);
  margin-bottom: var(--space-m);
  min-width: 268px;
  padding: var(--space-m);

  &__info {
    color: var(--color-info);
  }

  &__success {
    color: var(--color-success);
  }

  &__warning {
    color: var(--color-warning);
  }

  &__icon {
    font-size: var(--font-size-h3);
  }

  &__content {
    &__value {
      font-size: var(--font-size-h3);
      font-weight: var(--font-bold);
      line-height: var(--line-height-h2);
    }

    &__title {
      font-size: var(--font-size-h4);
      font-weight: var(--font-semi-bold);
      line-height: var(--line-height-h4);
      white-space: nowrap;
    }
  }
}
