.top-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px var(--space-xl) var(--space-none) var(--space-xl);

  //   &__logo {
  //   }

  &__nav {
    .button-group {
      &-item {
        border: none;
        color: var(--neutral-neutral-8);
        font-size: var(--font-size-s);
        font-weight: var(--font-regular);
        white-space: nowrap;
      }

      &-selected-item {
        background: var(--color-neutral-4);
        border-radius: var(--border-radius-medium);
        font-weight: var(--font-bold);
      }
    }
  }

  &__userinfo {
    color: var(--neutral-neutral-8);
    font-size: var(--font-size-s);
    font-weight: var(--font-regular);
  }
}
