.table-search {
  align-items: center;
  background: var(--color-neutral-1);
  border-radius: var(--border-radius-medium);
  display: flex;
  padding: var(--space-base);
  transition: transform 330ms ease-out;

  &__search {
    flex-grow: 1;
    margin-right: var(--space-base);
  }

  &__actions {
    align-items: center;
    display: flex;

    .tablet &,
    .phone & {
      align-items: stretch;
      flex-direction: column;
      row-gap: 20px;

      .btn {
        margin-left: var(--space-none);
      }
    }
  }

  .tablet &,
  .phone & {
    align-items: stretch;
    flex-direction: column;
    row-gap: 20px;
    // display: none;

    // .visible {
    //   display: flex;
    // }
  }
}
