.table-search {
  align-items: center;
  background: var(--color-neutral-1);
  border-radius: var(--border-radius-medium);
  display: flex;
  padding: var(--space-base);
  transition: transform 330ms ease-out;

  &__search {
    flex-grow: 1;
    margin-right: var(--space-base);

    .tablet &,
    .phone & {
      flex-grow: 0;
      margin-right: var(--space-none);
    }
  }

  .tablet &,
  .phone & {
    align-items: stretch;
    flex-direction: column;
    row-gap: var(--space-base);
  }

  &__actions {
    align-items: center;
    display: flex;

    .dropdown-container {
      margin-left: 0;
    }

    .tablet &,
    .phone & {
      align-items: stretch;
      flex-direction: column;
      row-gap: var(--space-base);

      .btn {
        margin-left: var(--space-none);
      }
    }
  }
}
