.top-bar {
  align-items: center;
  // background: var(--color-neutral-0);
  display: flex;
  justify-content: space-between;

  &__title {
    color: var(--color-info);
    font-size: var(--font-size-h6);
    font-weight: var(--font-semi-bold);
  }

  img {
    border-radius: var(--border-radius-circle);
    height: var(--space-xl);
    width: var(--space-xl);
  }
}
