.osui-tabs__header-item {
  color: var(--color-neutral-7);

  .desktop &,
  .tablet & {
    width: 134.616px;
  }

  &.osui-tabs--is-active {
    color: var(--color-info);
    text-shadow: 0 0 0.5px currentColor;
    font-weight: var(--font-semi-bold);
  }
}

.osui-tabs__header__indicator {
  background-color: var(--color-info);
}
